.dashboard{

    padding: 1rem;

    &__header{
        padding: 2rem 0rem 1rem 0rem;
        display: flex;
        align-items: baseline;
    }
    &__heading{
        margin: 0 1rem;
        color:#333333;
    }
    &__sort{
        display: flex;
        align-items: flex-end;
        // label + .MuiInput-formControl{
        //     margin-top: 0;
        // }
    }
    
}