.footer{
    background-color: #333333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    padding: 2rem 0;

    &__follow-us{
        display: flex;
        align-items: center;
        
    }
    
    &__logo{
        background-color: #fff;
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        justify-content: center;
        margin: 0rem 0 0rem 1rem;
        border-radius: 100rem;
    }
    
    &__copyrights{
        font-size: 0.8rem;
        margin-top: 1rem;
    }
}