$primary-gradient: linear-gradient(201.33deg, #E85513 1.75%, #FABF01 97.05%);
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf')
}

* {
    margin: 0;
    font-family: Poppins;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    @media (max-width:992px) {
        font-size: 12px;
    }
}

// html, body {
//     background-color: #F4F6F8;
// }

.header-options * {

    margin: 0 10px;
    @media (max-width:992px) {
        margin: 0;

    }
}

.wt-600 {
    font-weight: 600;
}

.primary-bg {
    background-color: $primary-gradient ;
}

.asNavFor{
    width: 100%;
    padding: 0;
}

.cloudimage-360 canvas{
    min-height: 25rem;
    height: 25rem !important;
}

.asNavFor  .slick-list{
    margin: -20px;
}
.asNavFor .slick-slide *{
    outline:none !important;
    //margin: 1rem 0 !important;
}
.asNavFor .slick-track{
    //outline:none !important;
    margin: 1rem 0 !important;
}