$card-height: 500px;
$card-width: 400px;
$basic-font: 500 20px 'Open Sans', sans-serif;
$btn-clr-primary: #40bad5;
$primary-white: #ffffff;
$border-radius-btn: 5px;
$transition-default: 0.3s;

.login-wrapper{
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-card{
        height: $card-height;
        width: $card-width;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .logo{
            height: auto;
            width: 80%;
            margin: 20px auto;
            display: flex;
            justify-content: center;

            img{
                height: 100%;
                width: 100%;
            }
        }

        .input-type-alpha{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            input{
                height: 40px;
                width: 80%;
                border: 1px solid #e1e1e1;
                margin: 0.5rem 0;
                border-radius: 5px;
                padding: 0 10px;
                box-sizing: border-box;

                &:focus{
                    border: 1px solid $btn-clr-primary;
                    box-shadow: 0 0px 2px 1px $btn-clr-primary;
                }
            }
        }

        .login-btn{
            display: flex;
            justify-content: flex-end;
            box-sizing: border-box;
            padding: 0 40px;
            margin: 10px 0;

            button{
                height: 2rem;
                width: 6rem;
                background-color: $btn-clr-primary;
                color: $primary-white;
                border: none;
                border-radius: $border-radius-btn;
                opacity: 0.8;
                transition: $transition-default;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}